@use "@angular/material" as mat;
@use "sass:map";
@use "./themes/violet.scss" as p;
// Include the core styles for Angular Material. This should be done once per application.
@include mat.core();

html {
  @include mat.theme(
    (
      color: (
        primary: p.$primary-palette,
        tertiary: p.$tertiary-palette,
      ),
      color-scheme: dark,
      density: 0,
    )
  );
}
