@use "@angular/material" as mat;
@use "sass:map";
@use "./themes/violet.scss" as p;
@use "./material-components/index.scss";
// Include the core styles for Angular Material. This should be done once per application.
@include mat.core();

html {
  @include mat.theme(
    (
      color: (
        theme-type: dark,
        primary: p.$primary-palette,
        tertiary: p.$tertiary-palette,
      ),
      density: 0,
    )
  );
}
