@use "@angular/material" as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  .mat-mdc-menu-panel .mat-divider {
    margin-bottom: 0;
    margin-top: 0;
  }
  @include mat.divider-overrides(
    (
      color: hsl(var(--foreground) / 0.2),
    )
  );
}
