@use "@angular/material" as mat;

:root {
  .mat-mdc-button .mat-mdc-button-touch-target {
    height: 24px !important;
  }

  @include mat.button-overrides(
    (
      filled-container-height: 24px,
      outlined-container-height: 24px,
      text-container-height: 24px,
      protected-container-height: 24px,

      filled-label-text-size: 14px,
      outlined-label-text-size: 14px,
      protected-label-text-size: 14px,
      text-label-text-size: 14px,
    )
  );
}
